{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://ce.amazonaws.com/"
        },
        {
            "url": "http://ce.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<p>The Cost Explorer API enables you to programmatically query your cost and usage data. You can query for aggregated data such as total monthly costs or total daily usage. You can also query for granular data, such as the number of daily write operations for Amazon DynamoDB database tables in your production environment. </p> <p>Service Endpoint</p> <p>The Cost Explorer API provides the following endpoint:</p> <ul> <li> <p> <code>https://ce.us-east-1.amazonaws.com</code> </p> </li> </ul> <p>For information about costs associated with the Cost Explorer API, see <a href=\"https://aws.amazon.com/aws-cost-management/pricing/\">AWS Cost Management Pricing</a>.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Cost Explorer Service",
        "version": "2017-10-25",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/ce-2017-10-25.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "ce"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/ce/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Retrieves cost and usage metrics for your account. You can specify which cost and usage-related metric, such as <code>BlendedCosts</code> or <code>UsageQuantity</code>, that you want the request to return. You can also filter and group your data by various dimensions, such as <code>SERVICE</code> or <code>AZ</code>, in a specific time range. For a complete list of valid dimensions, see the <a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetDimensionValues.html\">GetDimensionValues</a> operation. Master accounts in an organization in AWS Organizations have access to all member accounts.",
                "operationId": "GetCostAndUsage",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "GroupDefinitions": {
                                            "description": "The groups that are specified by the <code>Filter</code> or <code>GroupBy</code> parameters in the request.",
                                            "items": {
                                                "description": "Represents a group when you specify a group by criteria or in the response to a query with a specific grouping.",
                                                "properties": {
                                                    "Key": {
                                                        "description": "The string that represents a key for a specified group.",
                                                        "type": "string"
                                                    },
                                                    "Type": {
                                                        "description": "The string that represents the type of group.",
                                                        "enum": [
                                                            "DIMENSION",
                                                            "TAG"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextPageToken": {
                                            "description": "The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.",
                                            "type": "string"
                                        },
                                        "ResultsByTime": {
                                            "description": "The time period that is covered by the results in the response.",
                                            "items": {
                                                "description": "The result that is associated with a time period.",
                                                "properties": {
                                                    "Estimated": {
                                                        "description": "Whether the result is estimated.",
                                                        "type": "boolean"
                                                    },
                                                    "Groups": {
                                                        "description": "The groups that this time period includes.",
                                                        "items": {
                                                            "description": "One level of grouped data in the results.",
                                                            "properties": {
                                                                "Keys": {
                                                                    "description": "The keys that are included in this group.",
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "Metrics": {
                                                                    "description": "The metrics that are included in this group.",
                                                                    "items": {
                                                                        "properties": {
                                                                            "key": {
                                                                                "type": "string"
                                                                            },
                                                                            "value": {
                                                                                "description": "The aggregated value for a metric.",
                                                                                "properties": {
                                                                                    "Amount": {
                                                                                        "description": "The actual number that represents the metric.",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "Unit": {
                                                                                        "description": "The unit that the metric is given in.",
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "TimePeriod": {
                                                        "description": "The time period that the result covers.",
                                                        "properties": {
                                                            "End": {
                                                                "description": "The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.",
                                                                "pattern": "(\\d{4}-\\d{2}-\\d{2})(T\\d{2}:\\d{2}:\\d{2}Z)?",
                                                                "type": "string"
                                                            },
                                                            "Start": {
                                                                "description": "The beginning of the time period that you want the usage and costs for. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, AWS retrieves cost and usage data starting at <code>2017-01-01</code> up to the end date.",
                                                                "pattern": "(\\d{4}-\\d{2}-\\d{2})(T\\d{2}:\\d{2}:\\d{2}Z)?",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "Start",
                                                            "End"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "Total": {
                                                        "description": "The total amount of cost or usage accrued during the time period.",
                                                        "items": {
                                                            "properties": {
                                                                "key": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "description": "The aggregated value for a metric.",
                                                                    "properties": {
                                                                        "Amount": {
                                                                            "description": "The actual number that represents the metric.",
                                                                            "type": "string"
                                                                        },
                                                                        "Unit": {
                                                                            "description": "The unit that the metric is given in.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "BillExpirationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "DataUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidNextTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "RequestChangedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    },
                    "required": true
                }
            }
        },
        "/#GetCostForecast": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Retrieves a forecast for how much Amazon Web Services predicts that you will spend over the forecast time period that you select, based on your past costs. ",
                "operationId": "GetCostForecast",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ForecastResultsByTime": {
                                            "description": "The forecasts for your query, in order. For <code>DAILY</code> forecasts, this is a list of days. For <code>MONTHLY</code> forecasts, this is a list of months.",
                                            "items": {
                                                "description": "The forecast created for your query.",
                                                "properties": {
                                                    "MeanValue": {
                                                        "description": "The mean value of the forecast.",
                                                        "type": "string"
                                                    },
                                                    "PredictionIntervalLowerBound": {
                                                        "description": "The lower limit for the prediction interval. ",
                                                        "type": "string"
                                                    },
                                                    "PredictionIntervalUpperBound": {
                                                        "description": "The upper limit for the prediction interval. ",
                                                        "type": "string"
                                                    },
                                                    "TimePeriod": {
                                                        "description": "The period of time that the forecast covers.",
                                                        "properties": {
                                                            "End": {
                                                                "description": "The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.",
                                                                "pattern": "(\\d{4}-\\d{2}-\\d{2})(T\\d{2}:\\d{2}:\\d{2}Z)?",
                                                                "type": "string"
                                                            },
                                                            "Start": {
                                                                "description": "The beginning of the time period that you want the usage and costs for. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, AWS retrieves cost and usage data starting at <code>2017-01-01</code> up to the end date.",
                                                                "pattern": "(\\d{4}-\\d{2}-\\d{2})(T\\d{2}:\\d{2}:\\d{2}Z)?",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "Start",
                                                            "End"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "Total": {
                                            "description": "How much you are forecasted to spend over the forecast period, in <code>USD</code>.",
                                            "properties": {
                                                "Amount": {
                                                    "description": "The actual number that represents the metric.",
                                                    "type": "string"
                                                },
                                                "Unit": {
                                                    "description": "The unit that the metric is given in.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "DataUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    },
                    "required": true
                }
            }
        },
        "/#GetDimensionValues": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Retrieves all available filter values for a specified filter over a period of time. You can search the dimension values for an arbitrary string. ",
                "operationId": "GetDimensionValues",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "DimensionValues": {
                                            "description": "<p>The filters that you used to filter your request. Some dimensions are available only for a specific context.</p> <p>If you set the context to <code>COST_AND_USAGE</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p> </li> <li> <p>DATABASE_ENGINE - The Amazon Relational Database Service database. Examples are Aurora or MySQL.</p> </li> <li> <p>INSTANCE_TYPE - The type of Amazon EC2 instance. An example is <code>m4.xlarge</code>.</p> </li> <li> <p>LEGAL_ENTITY_NAME - The name of the organization that sells you AWS services, such as Amazon Web Services.</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account.</p> </li> <li> <p>OPERATING_SYSTEM - The operating system. Examples are Windows or Linux.</p> </li> <li> <p>OPERATION - The action performed. Examples include <code>RunInstance</code> and <code>CreateBucket</code>.</p> </li> <li> <p>PLATFORM - The Amazon EC2 operating system. Examples are Windows or Linux.</p> </li> <li> <p>PURCHASE_TYPE - The reservation type of the purchase to which this usage is related. Examples include On-Demand Instances and Standard Reserved Instances.</p> </li> <li> <p>SERVICE - The AWS service such as Amazon DynamoDB.</p> </li> <li> <p>USAGE_TYPE - The type of usage. An example is DataTransfer-In-Bytes. The response for the <code>GetDimensionValues</code> operation includes a unit attribute. Examples include GB and Hrs.</p> </li> <li> <p>USAGE_TYPE_GROUP - The grouping of common usage types. An example is Amazon EC2: CloudWatch – Alarms. The response for this operation includes a unit attribute.</p> </li> <li> <p>RECORD_TYPE - The different types of charges such as RI fees, usage costs, tax refunds, and credits.</p> </li> </ul> <p>If you set the context to <code>RESERVATIONS</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p> </li> <li> <p>CACHE_ENGINE - The Amazon ElastiCache operating system. Examples are Windows or Linux.</p> </li> <li> <p>DEPLOYMENT_OPTION - The scope of Amazon Relational Database Service deployments. Valid values are <code>SingleAZ</code> and <code>MultiAZ</code>.</p> </li> <li> <p>INSTANCE_TYPE - The type of Amazon EC2 instance. An example is <code>m4.xlarge</code>.</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account.</p> </li> <li> <p>PLATFORM - The Amazon EC2 operating system. Examples are Windows or Linux.</p> </li> <li> <p>REGION - The AWS Region.</p> </li> <li> <p>SCOPE (Utilization only) - The scope of a Reserved Instance (RI). Values are regional or a single Availability Zone.</p> </li> <li> <p>TAG (Coverage only) - The tags that are associated with a Reserved Instance (RI).</p> </li> <li> <p>TENANCY - The tenancy of a resource. Examples are shared or dedicated.</p> </li> </ul>",
                                            "items": {
                                                "description": "The metadata of a specific type that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.",
                                                "properties": {
                                                    "Attributes": {
                                                        "description": "The attribute that applies to a specific <code>Dimension</code>.",
                                                        "items": {
                                                            "properties": {
                                                                "key": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "Value": {
                                                        "description": "The value of a dimension with a specific attribute.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextPageToken": {
                                            "description": "The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.",
                                            "type": "string"
                                        },
                                        "ReturnSize": {
                                            "description": "The number of results that AWS returned at one time.",
                                            "type": "integer"
                                        },
                                        "TotalSize": {
                                            "description": "The total number of search results.",
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "DimensionValues",
                                        "ReturnSize",
                                        "TotalSize"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "BillExpirationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "DataUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidNextTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "RequestChangedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Context": {
                                        "description": "<p>The context for the call to <code>GetDimensionValues</code>. This can be <code>RESERVATIONS</code> or <code>COST_AND_USAGE</code>. The default value is <code>COST_AND_USAGE</code>. If the context is set to <code>RESERVATIONS</code>, the resulting dimension values can be used in the <code>GetReservationUtilization</code> operation. If the context is set to <code>COST_AND_USAGE</code>, the resulting dimension values can be used in the <code>GetCostAndUsage</code> operation.</p> <p>If you set the context to <code>COST_AND_USAGE</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p> </li> <li> <p>DATABASE_ENGINE - The Amazon Relational Database Service database. Examples are Aurora or MySQL.</p> </li> <li> <p>INSTANCE_TYPE - The type of Amazon EC2 instance. An example is <code>m4.xlarge</code>.</p> </li> <li> <p>LEGAL_ENTITY_NAME - The name of the organization that sells you AWS services, such as Amazon Web Services.</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account.</p> </li> <li> <p>OPERATING_SYSTEM - The operating system. Examples are Windows or Linux.</p> </li> <li> <p>OPERATION - The action performed. Examples include <code>RunInstance</code> and <code>CreateBucket</code>.</p> </li> <li> <p>PLATFORM - The Amazon EC2 operating system. Examples are Windows or Linux.</p> </li> <li> <p>PURCHASE_TYPE - The reservation type of the purchase to which this usage is related. Examples include On-Demand Instances and Standard Reserved Instances.</p> </li> <li> <p>SERVICE - The AWS service such as Amazon DynamoDB.</p> </li> <li> <p>USAGE_TYPE - The type of usage. An example is DataTransfer-In-Bytes. The response for the <code>GetDimensionValues</code> operation includes a unit attribute. Examples include GB and Hrs.</p> </li> <li> <p>USAGE_TYPE_GROUP - The grouping of common usage types. An example is Amazon EC2: CloudWatch – Alarms. The response for this operation includes a unit attribute.</p> </li> <li> <p>RECORD_TYPE - The different types of charges such as RI fees, usage costs, tax refunds, and credits.</p> </li> </ul> <p>If you set the context to <code>RESERVATIONS</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p> </li> <li> <p>CACHE_ENGINE - The Amazon ElastiCache operating system. Examples are Windows or Linux.</p> </li> <li> <p>DEPLOYMENT_OPTION - The scope of Amazon Relational Database Service deployments. Valid values are <code>SingleAZ</code> and <code>MultiAZ</code>.</p> </li> <li> <p>INSTANCE_TYPE - The type of Amazon EC2 instance. An example is <code>m4.xlarge</code>.</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account.</p> </li> <li> <p>PLATFORM - The Amazon EC2 operating system. Examples are Windows or Linux.</p> </li> <li> <p>REGION - The AWS Region.</p> </li> <li> <p>SCOPE (Utilization only) - The scope of a Reserved Instance (RI). Values are regional or a single Availability Zone.</p> </li> <li> <p>TAG (Coverage only) - The tags that are associated with a Reserved Instance (RI).</p> </li> <li> <p>TENANCY - The tenancy of a resource. Examples are shared or dedicated.</p> </li> </ul>",
                                        "enum": [
                                            "COST_AND_USAGE",
                                            "RESERVATIONS"
                                        ],
                                        "type": "string"
                                    },
                                    "Dimension": {
                                        "description": "The name of the dimension. Each <code>Dimension</code> is available for a different <code>Context</code>. For more information, see <code>Context</code>.",
                                        "enum": [
                                            "AZ",
                                            "INSTANCE_TYPE",
                                            "LINKED_ACCOUNT",
                                            "OPERATION",
                                            "PURCHASE_TYPE",
                                            "REGION",
                                            "SERVICE",
                                            "USAGE_TYPE",
                                            "USAGE_TYPE_GROUP",
                                            "RECORD_TYPE",
                                            "OPERATING_SYSTEM",
                                            "TENANCY",
                                            "SCOPE",
                                            "PLATFORM",
                                            "SUBSCRIPTION_ID",
                                            "LEGAL_ENTITY_NAME",
                                            "DEPLOYMENT_OPTION",
                                            "DATABASE_ENGINE",
                                            "CACHE_ENGINE",
                                            "INSTANCE_TYPE_FAMILY",
                                            "BILLING_ENTITY",
                                            "RESERVATION_ID"
                                        ],
                                        "type": "string"
                                    },
                                    "NextPageToken": {
                                        "description": "The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.",
                                        "type": "string"
                                    },
                                    "SearchString": {
                                        "description": "The value that you want to search the filter values for.",
                                        "type": "string"
                                    },
                                    "TimePeriod": {
                                        "description": "The start and end dates for retrieving the dimension values. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.",
                                        "properties": {
                                            "End": {
                                                "description": "The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.",
                                                "pattern": "(\\d{4}-\\d{2}-\\d{2})(T\\d{2}:\\d{2}:\\d{2}Z)?",
                                                "type": "string"
                                            },
                                            "Start": {
                                                "description": "The beginning of the time period that you want the usage and costs for. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, AWS retrieves cost and usage data starting at <code>2017-01-01</code> up to the end date.",
                                                "pattern": "(\\d{4}-\\d{2}-\\d{2})(T\\d{2}:\\d{2}:\\d{2}Z)?",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "Start",
                                            "End"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "TimePeriod",
                                    "Dimension"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#GetReservationCoverage": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Retrieves the reservation coverage for your account. This enables you to see how much of your Amazon Elastic Compute Cloud, Amazon ElastiCache, Amazon Relational Database Service, or Amazon Redshift usage is covered by a reservation. An organization's master account can see the coverage of the associated member accounts. For any time period, you can filter data about reservation usage by the following dimensions:</p> <ul> <li> <p>AZ</p> </li> <li> <p>CACHE_ENGINE</p> </li> <li> <p>DATABASE_ENGINE</p> </li> <li> <p>DEPLOYMENT_OPTION</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>OPERATING_SYSTEM</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>SERVICE</p> </li> <li> <p>TAG</p> </li> <li> <p>TENANCY</p> </li> </ul> <p>To determine valid values for a dimension, use the <code>GetDimensionValues</code> operation. </p>",
                "operationId": "GetReservationCoverage",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "CoveragesByTime": {
                                            "description": "The amount of time that your reservations covered.",
                                            "items": {
                                                "description": "Reservation coverage for a specified period, in hours.",
                                                "properties": {
                                                    "Groups": {
                                                        "description": "The groups of instances that the reservation covered.",
                                                        "items": {
                                                            "description": "A group of reservations that share a set of attributes.",
                                                            "properties": {
                                                                "Attributes": {
                                                                    "description": "The attributes for this group of reservations.",
                                                                    "items": {
                                                                        "properties": {
                                                                            "key": {
                                                                                "type": "string"
                                                                            },
                                                                            "value": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "Coverage": {
                                                                    "description": "How much instance usage this group of reservations covered.",
                                                                    "properties": {
                                                                        "CoverageCost": {
                                                                            "description": "The amount of cost that the reservation covered.",
                                                                            "properties": {
                                                                                "OnDemandCost": {
                                                                                    "description": "How much an On-Demand instance cost.",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "CoverageHours": {
                                                                            "description": "The amount of instance usage that the reservation covered, in hours.",
                                                                            "properties": {
                                                                                "CoverageHoursPercentage": {
                                                                                    "description": "The percentage of instance hours that a reservation covered.",
                                                                                    "type": "string"
                                                                                },
                                                                                "OnDemandHours": {
                                                                                    "description": "The number of instance running hours that On-Demand Instances covered.",
                                                                                    "type": "string"
                                                                                },
                                                                                "ReservedHours": {
                                                                                    "description": "The number of instance running hours that reservations covered.",
                                                                                    "type": "string"
                                                                                },
                                                                                "TotalRunningHours": {
                                                                                    "description": "The total instance usage, in hours.",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "CoverageNormalizedUnits": {
                                                                            "description": "The amount of instance usage that the reservation covered, in normalized units.",
                                                                            "properties": {
                                                                                "CoverageNormalizedUnitsPercentage": {
                                                                                    "description": "The percentage of your used instance normalized units that a reservation covers.",
                                                                                    "type": "string"
                                                                                },
                                                                                "OnDemandNormalizedUnits": {
                                                                                    "description": "The number of normalized units that are covered by On-Demand Instances instead of a reservation.",
                                                                                    "type": "string"
                                                                                },
                                                                                "ReservedNormalizedUnits": {
                                                                                    "description": "The number of normalized units that a reservation covers.",
                                                                                    "type": "string"
                                                                                },
                                                                                "TotalRunningNormalizedUnits": {
                                                                                    "description": "The total number of normalized units that you used.",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "TimePeriod": {
                                                        "description": "The period that this coverage was used over.",
                                                        "properties": {
                                                            "End": {
                                                                "description": "The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.",
                                                                "pattern": "(\\d{4}-\\d{2}-\\d{2})(T\\d{2}:\\d{2}:\\d{2}Z)?",
                                                                "type": "string"
                                                            },
                                                            "Start": {
                                                                "description": "The beginning of the time period that you want the usage and costs for. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, AWS retrieves cost and usage data starting at <code>2017-01-01</code> up to the end date.",
                                                                "pattern": "(\\d{4}-\\d{2}-\\d{2})(T\\d{2}:\\d{2}:\\d{2}Z)?",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "Start",
                                                            "End"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "Total": {
                                                        "description": "The total reservation coverage, in hours.",
                                                        "properties": {
                                                            "CoverageCost": {
                                                                "description": "The amount of cost that the reservation covered.",
                                                                "properties": {
                                                                    "OnDemandCost": {
                                                                        "description": "How much an On-Demand instance cost.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "CoverageHours": {
                                                                "description": "The amount of instance usage that the reservation covered, in hours.",
                                                                "properties": {
                                                                    "CoverageHoursPercentage": {
                                                                        "description": "The percentage of instance hours that a reservation covered.",
                                                                        "type": "string"
                                                                    },
                                                                    "OnDemandHours": {
                                                                        "description": "The number of instance running hours that On-Demand Instances covered.",
                                                                        "type": "string"
                                                                    },
                                                                    "ReservedHours": {
                                                                        "description": "The number of instance running hours that reservations covered.",
                                                                        "type": "string"
                                                                    },
                                                                    "TotalRunningHours": {
                                                                        "description": "The total instance usage, in hours.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "CoverageNormalizedUnits": {
                                                                "description": "The amount of instance usage that the reservation covered, in normalized units.",
                                                                "properties": {
                                                                    "CoverageNormalizedUnitsPercentage": {
                                                                        "description": "The percentage of your used instance normalized units that a reservation covers.",
                                                                        "type": "string"
                                                                    },
                                                                    "OnDemandNormalizedUnits": {
                                                                        "description": "The number of normalized units that are covered by On-Demand Instances instead of a reservation.",
                                                                        "type": "string"
                                                                    },
                                                                    "ReservedNormalizedUnits": {
                                                                        "description": "The number of normalized units that a reservation covers.",
                                                                        "type": "string"
                                                                    },
                                                                    "TotalRunningNormalizedUnits": {
                                                                        "description": "The total number of normalized units that you used.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextPageToken": {
                                            "description": "The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.",
                                            "type": "string"
                                        },
                                        "Total": {
                                            "description": "The total amount of instance usage that a reservation covered.",
                                            "properties": {
                                                "CoverageCost": {
                                                    "description": "The amount of cost that the reservation covered.",
                                                    "properties": {
                                                        "OnDemandCost": {
                                                            "description": "How much an On-Demand instance cost.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "CoverageHours": {
                                                    "description": "The amount of instance usage that the reservation covered, in hours.",
                                                    "properties": {
                                                        "CoverageHoursPercentage": {
                                                            "description": "The percentage of instance hours that a reservation covered.",
                                                            "type": "string"
                                                        },
                                                        "OnDemandHours": {
                                                            "description": "The number of instance running hours that On-Demand Instances covered.",
                                                            "type": "string"
                                                        },
                                                        "ReservedHours": {
                                                            "description": "The number of instance running hours that reservations covered.",
                                                            "type": "string"
                                                        },
                                                        "TotalRunningHours": {
                                                            "description": "The total instance usage, in hours.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "CoverageNormalizedUnits": {
                                                    "description": "The amount of instance usage that the reservation covered, in normalized units.",
                                                    "properties": {
                                                        "CoverageNormalizedUnitsPercentage": {
                                                            "description": "The percentage of your used instance normalized units that a reservation covers.",
                                                            "type": "string"
                                                        },
                                                        "OnDemandNormalizedUnits": {
                                                            "description": "The number of normalized units that are covered by On-Demand Instances instead of a reservation.",
                                                            "type": "string"
                                                        },
                                                        "ReservedNormalizedUnits": {
                                                            "description": "The number of normalized units that a reservation covers.",
                                                            "type": "string"
                                                        },
                                                        "TotalRunningNormalizedUnits": {
                                                            "description": "The total number of normalized units that you used.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "CoveragesByTime"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "DataUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidNextTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    },
                    "required": true
                }
            }
        },
        "/#GetReservationPurchaseRecommendation": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Gets recommendations for which reservations to purchase. These recommendations could help you reduce your costs. Reservations provide a discounted hourly rate (up to 75%) compared to On-Demand pricing.</p> <p>AWS generates your recommendations by identifying your On-Demand usage during a specific time period and collecting your usage into categories that are eligible for a reservation. After AWS has these categories, it simulates every combination of reservations in each category of usage to identify the best number of each type of RI to purchase to maximize your estimated savings. </p> <p>For example, AWS automatically aggregates your Amazon EC2 Linux, shared tenancy, and c4 family usage in the US West (Oregon) Region and recommends that you buy size-flexible regional reservations to apply to the c4 family usage. AWS recommends the smallest size instance in an instance family. This makes it easier to purchase a size-flexible RI. AWS also shows the equal number of normalized units so that you can purchase any instance size that you want. For this example, your RI recommendation would be for <code>c4.large</code> because that is the smallest size instance in the c4 instance family.</p>",
                "operationId": "GetReservationPurchaseRecommendation",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Metadata": {
                                            "description": "Information about this specific recommendation call, such as the time stamp for when Cost Explorer generated this recommendation.",
                                            "properties": {
                                                "GenerationTimestamp": {
                                                    "description": "The time stamp for when AWS made this recommendation.",
                                                    "type": "string"
                                                },
                                                "RecommendationId": {
                                                    "description": "The ID for this specific recommendation.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "NextPageToken": {
                                            "description": "The pagination token for the next set of retrievable results.",
                                            "type": "string"
                                        },
                                        "Recommendations": {
                                            "description": "Recommendations for reservations to purchase.",
                                            "items": {
                                                "description": "A specific reservation that AWS recommends for purchase.",
                                                "properties": {
                                                    "AccountScope": {
                                                        "description": "The account scope that AWS recommends that you purchase this instance for. For example, you can purchase this reservation for an entire organization in AWS Organizations.",
                                                        "enum": [
                                                            "PAYER",
                                                            "LINKED"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "LookbackPeriodInDays": {
                                                        "description": "How many days of previous usage that AWS considers when making this recommendation.",
                                                        "enum": [
                                                            "SEVEN_DAYS",
                                                            "THIRTY_DAYS",
                                                            "SIXTY_DAYS"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "PaymentOption": {
                                                        "description": "The payment option for the reservation. For example, <code>AllUpfront</code> or <code>NoUpfront</code>.",
                                                        "enum": [
                                                            "NO_UPFRONT",
                                                            "PARTIAL_UPFRONT",
                                                            "ALL_UPFRONT",
                                                            "LIGHT_UTILIZATION",
                                                            "MEDIUM_UTILIZATION",
                                                            "HEAVY_UTILIZATION"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "RecommendationDetails": {
                                                        "description": "Details about the recommended purchases.",
                                                        "items": {
                                                            "description": "Details about your recommended reservation purchase.",
                                                            "properties": {
                                                                "AccountId": {
                                                                    "description": "The account that this RI recommendation is for.",
                                                                    "type": "string"
                                                                },
                                                                "AverageNormalizedUnitsUsedPerHour": {
                                                                    "description": "The average number of normalized units that you used in an hour during the historical period. AWS uses this to calculate your recommended reservation purchases.",
                                                                    "type": "string"
                                                                },
                                                                "AverageNumberOfInstancesUsedPerHour": {
                                                                    "description": "The average number of instances that you used in an hour during the historical period. AWS uses this to calculate your recommended reservation purchases.",
                                                                    "type": "string"
                                                                },
                                                                "AverageUtilization": {
                                                                    "description": "The average utilization of your instances. AWS uses this to calculate your recommended reservation purchases.",
                                                                    "type": "string"
                                                                },
                                                                "CurrencyCode": {
                                                                    "description": "The currency code that AWS used to calculate the costs for this instance.",
                                                                    "type": "string"
                                                                },
                                                                "EstimatedBreakEvenInMonths": {
                                                                    "description": "How long AWS estimates that it takes for this instance to start saving you money, in months.",
                                                                    "type": "string"
                                                                },
                                                                "EstimatedMonthlyOnDemandCost": {
                                                                    "description": "How much AWS estimates that you spend on On-Demand Instances in a month.",
                                                                    "type": "string"
                                                                },
                                                                "EstimatedMonthlySavingsAmount": {
                                                                    "description": "How much AWS estimates that this specific recommendation could save you in a month.",
                                                                    "type": "string"
                                                                },
                                                                "EstimatedMonthlySavingsPercentage": {
                                                                    "description": "How much AWS estimates that this specific recommendation could save you in a month, as a percentage of your overall costs.",
                                                                    "type": "string"
                                                                },
                                                                "EstimatedReservationCostForLookbackPeriod": {
                                                                    "description": "How much AWS estimates that you would have spent for all usage during the specified historical period if you had had a reservation.",
                                                                    "type": "string"
                                                                },
                                                                "InstanceDetails": {
                                                                    "description": "Details about the instances that AWS recommends that you purchase.",
                                                                    "properties": {
                                                                        "EC2InstanceDetails": {
                                                                            "description": "The Amazon EC2 instances that AWS recommends that you purchase.",
                                                                            "properties": {
                                                                                "AvailabilityZone": {
                                                                                    "description": "The Availability Zone of the recommended reservation.",
                                                                                    "type": "string"
                                                                                },
                                                                                "CurrentGeneration": {
                                                                                    "description": "Whether the recommendation is for a current-generation instance. ",
                                                                                    "type": "boolean"
                                                                                },
                                                                                "Family": {
                                                                                    "description": "The instance family of the recommended reservation.",
                                                                                    "type": "string"
                                                                                },
                                                                                "InstanceType": {
                                                                                    "description": "The type of instance that AWS recommends.",
                                                                                    "type": "string"
                                                                                },
                                                                                "Platform": {
                                                                                    "description": "The platform of the recommended reservation. The platform is the specific combination of operating system, license model, and software on an instance.",
                                                                                    "type": "string"
                                                                                },
                                                                                "Region": {
                                                                                    "description": "The AWS Region of the recommended reservation.",
                                                                                    "type": "string"
                                                                                },
                                                                                "SizeFlexEligible": {
                                                                                    "description": "Whether the recommended reservation is size flexible.",
                                                                                    "type": "boolean"
                                                                                },
                                                                                "Tenancy": {
                                                                                    "description": "Whether the recommended reservation is dedicated or shared.",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "ESInstanceDetails": {
                                                                            "description": "The Amazon ES instances that AWS recommends that you purchase.",
                                                                            "properties": {
                                                                                "CurrentGeneration": {
                                                                                    "description": "Whether the recommendation is for a current-generation instance.",
                                                                                    "type": "boolean"
                                                                                },
                                                                                "InstanceClass": {
                                                                                    "description": "The class of instance that AWS recommends.",
                                                                                    "type": "string"
                                                                                },
                                                                                "InstanceSize": {
                                                                                    "description": "The size of instance that AWS recommends.",
                                                                                    "type": "string"
                                                                                },
                                                                                "Region": {
                                                                                    "description": "The AWS Region of the recommended reservation.",
                                                                                    "type": "string"
                                                                                },
                                                                                "SizeFlexEligible": {
                                                                                    "description": "Whether the recommended reservation is size flexible.",
                                                                                    "type": "boolean"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "ElastiCacheInstanceDetails": {
                                                                            "description": "The ElastiCache instances that AWS recommends that you purchase.",
                                                                            "properties": {
                                                                                "CurrentGeneration": {
                                                                                    "description": "Whether the recommendation is for a current generation instance.",
                                                                                    "type": "boolean"
                                                                                },
                                                                                "Family": {
                                                                                    "description": "The instance family of the recommended reservation.",
                                                                                    "type": "string"
                                                                                },
                                                                                "NodeType": {
                                                                                    "description": "The type of node that AWS recommends.",
                                                                                    "type": "string"
                                                                                },
                                                                                "ProductDescription": {
                                                                                    "description": "The description of the recommended reservation.",
                                                                                    "type": "string"
                                                                                },
                                                                                "Region": {
                                                                                    "description": "The AWS Region of the recommended reservation.",
                                                                                    "type": "string"
                                                                                },
                                                                                "SizeFlexEligible": {
                                                                                    "description": "Whether the recommended reservation is size flexible.",
                                                                                    "type": "boolean"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "RDSInstanceDetails": {
                                                                            "description": "The Amazon RDS instances that AWS recommends that you purchase.",
                                                                            "properties": {
                                                                                "CurrentGeneration": {
                                                                                    "description": "Whether the recommendation is for a current-generation instance. ",
                                                                                    "type": "boolean"
                                                                                },
                                                                                "DatabaseEdition": {
[...]
